body {
    background-color: #060c18;
    font-family: 'Orbitron', sans-serif;
    
}
#bo_container {
    overflow-y: scroll;
}
#bo_container .bo_text {
    /* Styling for bo_units' Trigger, Time and Notes */
    color: #eee;
    font-size: 22px;
    word-wrap: break-word;
}

#bo_container .bo_unit {
    /*width: 200px;*/
    height: auto;
    border-top: 2px solid #69a1e7;
    border-bottom: 1px solid #69a1e7;
    background-color: #021428;
    min-height: 80px;
    padding-top:3px;
}
#bo_headers {
    background-color: white;
    color: black;   
}
.bo_header {
    border: solid #212529 1px;
    font-size:18px;
    font-weight:500;
    background-color: #144492;
    color: #eee;
}

.race {
    width: 43px;
    height: 68px;
    border-width: 0px;
    background-color: rgba(7, 68, 151,1);
    
}

.active {
    border: 2px #69a1e7 solid !important; 
    background: rgb(12, 47, 99); 
    background: linear-gradient(180deg, rgba(12, 47, 99, 1) 0%, rgba(7, 68, 151,1) 100%);
}

.active_race {
    background-color: rgb(13, 110, 253);
}


.action_selector {
  overflow: hidden;
  background: rgb(9,38,78);
  background: linear-gradient(180deg, rgba(9,38,78,1) 0%, rgba(5,15,30,1) 100%); 
  position: fixed; /* Prevents the action_selector from moving */
  bottom: 0; /* Position the action_selector at the bottom of the page */
  width: 100%; 
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 5px solid #69a1e7;
}
#start_editing_menu {
    overflow: hidden;
    background: rgb(9,38,78);
    background: linear-gradient(180deg, rgba(9,38,78,1) 0%, rgba(5,15,30,1) 100%); 
    position: fixed; /* Prevents the action_selector from moving */
    bottom: 0; /* Position the action_selector at the bottom of the page */
    width: 100%; 
    padding-top: 15px;
    padding-bottom: 15px;
    display: none;
  }
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.btn_action_category {
    display: block;
    width:100%;
    margin-top:6px;
}
.action_grid {
    width: 70px; 
    height: 70px;
    padding: 0 0 0 0px;
    margin: 0 0 0 0px;
    border: 2px solid #072755;
}
.action_grid img {
    border: 2px solid #072755;
}


.build_metadata {
    color: white;
}
.metadata_header {
    font-size:20px;
    margin-bottom:8px;
    color: rgb(35, 124, 214);
}

#action_category_selector {
    display:inline-block;
    
}

.btn_race {
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgba(7, 68, 151,1);
    border-width: 0px;
}

.edit_bo_icon {
    /* Delete and Insert Below icons */
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:10px;
}

#title, #author {
    background-color: #062249;
    color: #eee;
    border-width: 0px;
}

#watermark {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    color: rgb(35, 124, 214);
    text-align: right;
}