body {
    background-color: #060c18;
    color: #eee;
    font-family: 'Orbitron', sans-serif;
}

#hero {
    margin-top: 25px;
    margin-bottom: 25px;
}

#hero_image {
    height: auto; 
    width: auto; 
    max-width: 600px; 
    max-height: 300px;
}

#hero_title {
    font-weight: 700;
    font-size: 32px;
}

#hero_text {
    font-size: 24px;
}

#hero_text_container {
    max-height: 300px;
}

#question, #proof {
    width: 100%;
    background-color: rgb(9, 38, 78);
    padding-top: 28px;
    padding-bottom: 20px;
}

#question p {
    font-size: 28px;
}

#proof p {
    font-size: 24px;
}

#traditional_bo {
    max-width: 400px;
    height: auto;
}

#bovo_bo {
    max-height: 300px;
    width: auto;
}

#claim_text {
    font-size: 28px;
    padding-top: 15px;
}
