body {
    background-color: #93C6D6;
}
#bo_container {
    overflow-y: scroll;
}
#bo_container .bo_text {
    /* Styling for bo_units' Trigger, Time and Notes */
    color: #111;
    font-size: 22px;
    word-wrap: break-word;
}

#bo_container .bo_unit {
    /*width: 200px;*/
    height: auto;
    border:  1px solid black;
    background-color: #eee;
}
#bo_headers {
    background-color: white;
    color: black;   
}
.bo_header {
    border: solid black 2px;
    font-size:18px;
    font-weight:500;
}

.race {
    width: 43px;
    height: 68px;
    border: 0px black solid;
}

.active {
    border-radius: 4px;
    background-color: #b6b9bd !important;
}

.active_race {
    border: 4px orange solid !important;
}


.action_selector {
  overflow: hidden;
  background-color: #5F6062;
  position: fixed; /* Prevents the action_selector from moving */
  bottom: 0; /* Position the action_selector at the bottom of the page */
  width: 100%; 
  padding-top: 30px;
  padding-bottom: 30px;
}
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.btn_action_category {
    display: block;
    width:100%;
    margin-top:6px;
}
.action_grid {
    width: 70px; 
    height: 70px;
    padding-left: 1px;
    padding-right: 1px;
}
.build_metadata {
    color: white;
}

#action_category_selector {
    display:inline-block;
    
}

.btn_race {
    margin-left: 3px;
    margin-right: 3px;
}